<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="Linh, Ariel, Sophie">
    <title>Home - CS304 Project</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="messages">
    {% for msg in messages %}
    <p class="flash-message">{{ msg }}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  
  {% block nav %}
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
    </ul>
  </nav>
  {% endblock %}

  {% block main_content %}
  {% endblock %}
    
  </body>
  </html>