{% extends "base.html" %}

{% block main_content %}
<h1>Search Results</h1>

<form action="{{ url_for('display_media')}}" method="get">

    <p><label for="search">Search for Media</label>
        <input id="search" type = "text" name="search-media" value = "">
    </p>
    <button type="submit" value="">Search</button>>
</form>

<section>
{%if media}%
    <ul> 
        {%for media in results%}
            <li> {{media}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}
</section> 

{% endblock %}