{% extends "base.html" %}

{% block main_content %}
<div class="content-wrapper">
    <h1>My Friends</h1>
    <div class="button_header">
            <form method="get" action="{{ url_for('explore_friends', user_id = user_id) }}">
                <button type="submit" class="button">Add Friends</button>
            </form>
    </div>
    {% if friendsResult %}
        <ul>
        {% for friend in friendsResult %}
        <div class="button-container">
            <form action="{{url_for('profile', username = friend['username'])}}" method = "post" class = "inline">
                <input type = "hidden" name = "friend_id" value = "{{friend['user_id']}}">
                <li><button type="submit" class="link-button" name = "submit" value = "friend">{{friend['username']}}</button></li>
            </form>
            <form action="{{url_for('friends', user_id = user_id)}}" method = "post" class = "inline">
                <input type = "hidden" name = "friend_id" value = "{{friend['user_id']}}">
                <button type="submit" name = "delete" value = "Remove Friend">Remove Friend</button>
            </form>
        </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any friends yet!</p>
    {% endif %}
</div>
{% endblock %}
