{% extends "base.html" %}

{% block main_content %}
<div class="content-wrapper">
<h1>Insert Media </h1>

<form action="{{ url_for('insert_media', media_id=media['media_id']) }}" method="post">
    
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="{{ media['title'] }}"><br><br>
        
    <label for="media_type">Media Type 'movie', 'song', 'book':</label>
    <input type="enum" name="media_type" id="media_type" value="{{ media['media_type'] }}"><br><br>

    <label for="director">Director:</label>
    <input type="text" name="director" id="director" value="{{ media['director'] or '' }}"><br><br>

    <label for="artist">Artist:</label>
    <input type="text" name="artist" id="artist" value="{{ media['artist'] or '' }}"><br><br>

    <label for="author">Author:</label>
    <input type="text" name="author" id="author" value="{{ media['author'] or '' }}"><br><br>

    <button type="submit">Insert</button>
</form>
</div>
{% endblock %}
