{% extends "base.html" %}

{% block main_content %}
<div class="content-wrapper">
<h1>Welcome {{name}}</h1>

<form method="post" action="">
    <p><label for="username">Please enter your 
            Username: </label><input type="text" name="username" id="username"></p>
    
    <p><label for ="pass">Please enter your Password: </label><input type = "text" name="pass" id ="pass"></p>
    <p><input type="submit" name="submit" value="Login"> <a href = "{{ url_for('newAcc')}}">Create new account</a></p>
</form>
</div>

{% endblock %}