{% extends "base.html" %}

{% block main_content %}
<div class="content-wrapper">
    <div class="button_header">
        <h1>Welcome {{username}}!</h1>
        <form method="get" action="{{ url_for('friends', user_id = user_id) }}">
            <input type="submit" value="My Friends List">
        </form>
    </div>
    <p>Currents:</p>
    {% for curr in currentsResult %}
    <div class="current-wrapper">
        <li><label for="current">{{curr['title']}}</label>
            <progress id="current" value="{{curr['progress']}}" max="100"></progress>
            <span>{{curr['progress']}}% </span>
            <form method = "get" action ="{{ url_for('update_currents', media_id = curr['media_id'] )}}">
                <input type="hidden" name="current_id" value="{{curr['current_id']}}">
                <input type="number" name="new_progress" min="0" max="100" value="{{ curr['progress'] }}" required>
                <button type="submit" value ="Update">Update</button>
            </form>
        </li>
</div>
    {% endfor %}
 
    <p>Reviews:</p>
    {% for review in reviewsResult %}
        <li>{{review['title']}} - {{review['rating']}}</li>
        <p>{{review['review_text']}}</p>
    {% endfor %}

</div>
{% endblock %}