{% extends "base.html" %}

{% block main_content %}
<h1>Review Media </h1>

<form action="{{ url_for('review') }}" method="post">
    
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value=""><br><br>
        
    <label for="review">Review Text</label>
    <input type="text" name="review" id="review" value=""><br><br>

    <label for="rating">Rating:</label>
    <input type="text" name="Rating" id="Rating" value=""><br><br>

    <button type="submit">Review</button>
</form>

{% endblock %}
