{% extends "base.html" %}

{% block main_content %}
<h1>Update Movie </h1>

<form action="{{ url_for('update_movie', tt=movie['tt']) }}" method="post">
    
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="{{ movie['title'] }}"><br><br>

    <label for="movie-id">Movie ID:</label>
    <input type="text" id="movie-id" value="{{ movie['tt'] }}"><br><br>
        
    <label for="release">Release Year:</label>
    <input type="number" name="release" id="release" value="{{ movie['release'] }}"><br><br>

    <label for="added-by">Added By:</label>
    <input type="text" id="added-by" value="{{ movie['addedby'] }}"><br><br>

    <label for="director">Director ID:</label>
    <input type="text" name="director" id="director" value="{{ movie['director'] or '' }}"><br><br>
    
    <label for="director-name">Director:</label>
    <input type="text" id="director-name" value="{{ movie['director_name'] if movie['director'] else 'None Specified' }}" disabled><br><br>

    <button type="submit">Update</button>
</form>

{% endblock %}
